<h1>Wszystkie herbaty</h1>

<div>
  <a href="/teas/new">Dodaj herbatkę</a>
</div>

<% if teas.any? %>
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Nazwa herbaty</th>
      </tr>
    </thead>

    <tbody>
      <% teas.each do |tea| %>
        <tr>
          <td><a href="/teas/<%= tea.id %>"><%= tea.name %></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>aint no herbatek :(</p>
<% end %>

